SLACK_BOT_TOKEN: xoxb-xxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CHANNEL_ID: C01B2Pxxxxx
CALENDAR_ID: c_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@group.calendar.google.com
GOOGLE_APPLICATION_CREDENTIALS: ~/location/of/credentials.json